	
@font-face {
  font-family: NRT-Reg;
  src: url("kr-font/RT-Reg.ttf");
}
  
  .scrollSpy-text 
     {
        background: #f3f7f8;
        font-size: 13px;
        font-weight:bold;
        direction: rtl;
		font-family: 'Lato', sans-serif ;	
          
		font-family: "NRT-Reg" !important;


    }