/*Navbar*/
.location-wrap, .language-wrap, .sb-brand{
	display: flex;
    align-items: center;
}
.location-wrap .location-img, .language-wrap .globe-img{height: 16px;}
.location-wrap .location-text, .language-wrap .lang-text{font-size: .875rem;margin-left: .8rem;color: #989899;}
.sb-logo, .whatsapp-img{width: 70px;}
.sb-brand, .sb-logo, .whatsapp-img{width: 70px;}
.brand-text{
	font-size: 2.5rem;
    font-weight: 600;
    margin-left: 1rem;
}
.navbar.navbar-light{background: #f8f9fa;}

/*Carousel Section*/
.homepage-search-title .owl-dot{
	width: 10px;
	height: 10px;
	border-radius: 50px;
	background: rgba(255,255,255,.5) !important;
	margin: 0 5px;
}
.homepage-search-title .owl-dot.active{
	width: 10px;
	height: 10px;
	border-radius: 50px;
	background: rgba(255,255,255,1) !important;
}
.homepage-search-title .owl-dots{
	position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.homepage-search-title .owl-carousel img{
	height: 350px;
	width: 100%;
	border-radius: 15px;
}


/*Scroll Spy Section*/
.scrollSpy-section{
	position: sticky;
	top: 0;
	/*margin-top: 1rem;*/
	transition: .5s;
	z-index: 999;
}
.scrollSpy-elements{
	display: flex;
	align-items: center;
	list-style: none;
	padding:0;
	padding-bottom: 20px;
	margin: 0 auto;
}
.scrollSpy-elements .nav-link{
    background: #F1F6FA;
    padding: 0;
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.scrollSpy-elements .nav-link:after{
	content: '';
    position: absolute;
    bottom: -20px;
    height: 3px;
    background: #ddd;
    width: 105%;
    left: -8px;
}
.scrollSpy-elements .nav-link.active{
	box-shadow: 0 5px 6px 0px rgb(0 0 0 / 10%);
}
.scrollSpy-elements .nav-link.active:after{
	background: orange;
}
.scrollSpy-img{
	width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
}
.scrollSpy-text{
	color: #000;
    font-size: 1rem;
    padding: 1rem;
    display: block;
}

/*Food Items List*/
.food-items-wrap{
	display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.food-img{
	height: 100px;
    border-radius: 5px;
}
.food-name{
	font-size: 1.75rem;
    color: #474747;
    margin: 0;
}
.food-category{
	font-size: 1.25rem;
    margin: 0;
}
.food-item-name-category{padding: 0 1rem;}
.food-item-price-wrap{text-align: center;}
.food-item-price-wrap button.btn{
	background: #494949;
    color: #ddd;
    border-radius: 20px;
    padding: .3rem 2rem;
    font-weight: 700;
    font-size: 1rem;
}
.food-item-price-wrap .food-price{
	font-size: 1.5rem;
	margin: 0;
	color: #000;
	font-weight: 700;
}
.food-item-price-wrap .btn-group{
	border: 2px solid rgba(73, 73, 73,.8);
    border-radius: 20px;
    display: none;
}
.d-iFlex{display: inline-flex !important;}
.itemAddRemove-btn{
	padding:.3rem .6rem !important;
	font-weight: 900 !important;
	background: #fff !important;
	color: #ffa606 !important;
	/*line-height: 0;*/
}
.itemCounts-btn{
	background: rgba(255, 166, 6,.3) !important;
    color: #000 !important;
    padding: .3rem .6rem !important;
}

/*View Cart*/
.view-cart{position: fixed;bottom: 0;width: 100%;display: none;}
.view-cart-wrap{
	display: flex;
    align-items: center;
    justify-content: space-between;
    background: orange;
    padding:10px;
    border-radius: 10px;
}
.cart-item{
	font-size: 1.75rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.t-price{
	font-size: 1.75rem;
    color: #fff;
    margin-left: 1rem;
}
.vc-name{
	font-size: 1.35rem;
    color: #fff;
    margin-right: 1rem;
}
.vc-arrow{
	width: 30px;
	margin-right: 5px;
}
.vc-name-image{
	display: flex;
	align-items: center;
}
/*Media Query*/
@media (max-width: 600px) {
	.scrollSpy-img{height: 10vh;}
	.scrollSpy-elements .nav-link{height: 16vh;}
	.scrollSpy-elements .nav-link:after{
		content: '';
		position: absolute;
		bottom: -20px;
		height: 3px;
		background: #ddd;
		width: 110%;
		left: -5px;
	}
	.navbar.navbar-light{background: #fff;}
	.view-cart{display: block;}
	.homepage-search-title .owl-carousel img{height: auto;}
}
@media(min-width:768px) and (max-width: 1024px){
	.food-items-wrap{padding: 1rem;}
}
@media(max-width:430px){
    html{font-size: 60%;}
    .sb-brand, .sb-logo, .whatsapp-img{width: 55px;}
}
@media(max-width:280px){
    html{font-size: 45%;}
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
							CONFIRM ORDER Page and ORDER STATUS Css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.backArrow-yourCart{
	display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
}
.backArrow-yourCart .orangeArrow-img{
	width: 1.35rem;
    margin-right: 2.5rem;
}
.backArrow-yourCart .yc-text{font-size: 1.375rem;}
.cart-items-wrap{
	display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0rem;
    border-bottom: 1px solid #dbdbdb;
}
.cart-items-wrap:not(:last-child){border-bottom: none;}
.cart-item-name-category .cart-name{
	font-size: 1.25rem;
	color: #000;
	margin-bottom: 3px;
}
.cart-item-name-category .cart-category{
	color: #8a8a8a;
    font-size: 1rem;
    margin-bottom: 3px;
}
.cart-item-name-category .cart-price{
	font-size: 1.5rem;
    color: #000;
}
.btn-count{
	background: #ffa606;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 30px;
    padding: .1rem 2.5rem;
}
.amt-cal-wrapper{
	padding: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid #ffa606;
    border-bottom: 1px solid #ffa606;
}
.amt-cal-item{
	display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.amt-cal-total{
	padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.375rem;
    color: #000
}
.btn-co{
	background: #ffa606;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: 500;
    border-radius: 6px;
    color: #fff;
}

/*Order Status*/
.success-img{
	width: 12rem;
}
.placed-text{
	margin: 0;
    font-size: 2rem;
    color: #ffa606;
    margin-top: 1rem;
}
